<div class="header">
  <div class="header__info">
    <div class="header__info__leftdetails">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p>०१-४४७४९२१, ०१-४४७९६९०</p>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <p>info@dotm.gov.np</p>
    </div>
  </div>
  <div class="header__banner">
    <div class="header__banner__info">
      <p>
        नेपाल सरकार भौतिक पूर्वाधार तथा यातायात मन्त्रालय यातायात व्यवस्था विभाग
        मीनभवन, काठमाडौं
      </p>
    </div>
  </div>
</div>
